html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
}

header {
  width: 1110px;
  margin: 0 auto;
  padding: 35px 0px 30px 0px;
}
a {
  text-decoration: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  float: left;
  font-size: 30px;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
}
.logo a {
  color: #000000;
}
.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.nav-container {
  float: right;
}

.nav-list li {
  float: left;
}
.nav-list li:not(:last-child) {
  margin-right: 30px;
}

.nav-link a {
  font-size: 14px;
  font-family: "Open Sans", "Times New Roman";
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  color: #0f0101;
  transition: 0.3s;
}
.nav-link a:focus,
.nav-link a:hover {
  color: #1abc9c;
}

main {
  background-color: #e9f0fd;
}

.models h2 {
  margin-bottom: 90px;
  text-align: center;
  font-size: 48px;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
  color: #515151;
}
.models h2::after {
  content: "";
  display: block;
  width: 160px;
  border-bottom: 7px solid #1abc9c;
  padding-top: 35px;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.slider {
  position: relative;
}
.slider-gradient {
  position: absolute;
  background-color: rgba(0, 0, 2, 0.52);
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.slider-info-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.slider-info-block h2 a {
  font-size: 60px;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-weight: 900;
  line-height: 82px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -0.6px;
}

.slider-info-block h2::after {
  content: "city tours / tour tickets / tour guides";
  display: block;
  font-size: 24px;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-weight: 300;
  line-height: 54px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -0.6px;
}

.slider-text-hover:focus,
.slider-text-hover:hover {
  color: #ff7200;
}

.slider-control {
  width: 1110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.slider-left-arrow {
  padding: 25px;
  display: block;
  border: #ffffff solid 2px;
  float: left;
  background-color: rgba(0, 0, 0, 0);
}
.slider-left-arrow:focus,
.slider-left-arrow:hover {
  background-color: rgba(78, 198, 171, 0.65);
  background-clip: border-box;
  border: none;
}

.slider-right-arrow {
  padding: 25px;
  display: block;
  border: #ffffff solid 2px;
  display: block;
  float: right;
  background-color: rgba(0, 0, 0, 0);
}
.slider-right-arrow:focus,
.slider-right-arrow:hover {
  background-color: rgba(78, 198, 171, 0.65);
  background-clip: border-box;
  border: none;
}

.models {
  padding: 100px 0px 100px 0px;
}

.products-item {
  background-color: #ffffff;
  width: 255px;
  float: left;
  position: relative;
}

.products-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.products-name {
  font-family: "Roboto", "Times New Roman", sans-serif;
  background-color: rgb(50, 50, 50);
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  font-weight: 700;
}

.products-name a {
  color: rgb(255, 255, 255);
  width: 170px;
  padding: 8px 14px;
  float: left;
  font-size: 18px;
}
.products-name p {
  color: rgb(255, 255, 255);
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.44);
  margin: 0px;
  float: right;
}
.products-name p::before {
  content: "\0024";
}
.products-item:focus .products-name,
.products-item:hover .products-name {
  background-color: #1abc9c;
}

.overlay {
  width: 255px;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.55);
  border: rgba(255, 255, 255, 0.77) solid 10px;
  background-clip: padding-box;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.products-item:focus .overlay,
.products-item:hover .overlay {
  display: inherit;
}

.overlay-button {
  float: left;
  width: 50px;
  height: 50px;
  border: #ffffff solid 2px;
}
.overlay-button:not(:last-child) {
  margin-right: 9px;
  margin-bottom: 9px;
}
.overlay-button:focus,
.overlay-button:hover {
  background-color: #1abc9c;
  background-clip: border-box;
  border: none;
}

.overlay-button-bay {
  width: 168px;
  height: 50px;
  border: #ffffff solid 2px;
}
.overlay-button-bay img {
  display: inline;
}
.overlay-button-bay a {
  font-size: 14px;
  font-family: "OpenSans";
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.286;
}
.overlay-button-bay:focus,
.overlay-button-bay:hover {
  background-color: #323232;
}

.overlay-button-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  color: #fefefe;
  line-height: 1.75;
}
.footer p {
  padding: 35px 0px 35px 0px;
  background-color: #323232;
}
.footer a {
  text-decoration: none;
  color: #46bfa9;
}
